@import "tailwindcss";

html,
body,
.ds {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
.ds::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

html::-webkit-scrollbar-thumb,
.ds::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: transparent;
}


